.grid-container {
    display: grid;
    height: 98vh;
    width: 100vw;
    margin: auto;
    gap: 2px;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 60px 10fr 1fr;
    grid-template-areas:
    'n hd'
    'm m'
    'ft ft'
}

body{
    background-color: gray;
    margin:0;
}

/*drop-down*/
.drop-down{
    height: 100vh;
    width: 60vw;
    background: gray;
    position: fixed;
    top: 0;
    left: -70vw;
    transition: left 0.2s;
    z-index: 10;
}

.menu-button{
    cursor: pointer;

}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,5);
    opacity: 0.3;
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}


/*grid*/
header{
    grid-area: hd;
    background-color: gray;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 65px; 
    z-index: 2;
}

nav{
    grid-area: n;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 80vw;
    height: 65px;
    z-index: 3;
}

main{
    grid-area: m;
    background-color:white;
    padding-top: 15px;
}

footer{
    grid-area: ft;
    background-color:white;
}

/* images */
.menu-button{
    height: 60px;
    margin-left: 4vw;
    margin-top: 3px;
}

.images{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#profil{
    width: 40vw;
}

figure{
    margin-left: 4vw;
}

.fig{
    width: 20vw;
}



/*content*/
.drop-down > a{
    text-decoration: none;
    color: black;
    
}

a{
    color: black;
    margin-left: 4vw;
    margin-right: 0;   
}

h2{
    
    margin-left: 4vw;
    margin-right: 4vw;  
}

h3{
    margin-left: 4vw;
    margin-right: 4vw;
}

p{
    margin-left: 4vw;
    margin-right: 4vw;
    font-size: 19px;
}

a > span{
    font-size: 19px;
}

table{
    margin-left: 4vw;
}

table, td{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    padding: 4px;
    font-size: 19px;
}

ul{
    margin-right: 4vw;
    font-size: 19px;
}

.drop-down > a > span{
    font-size: 6vw;
    text-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, .4);
    margin-bottom: 3vw;
}

.drop-down > h3{
    font-size: 7vw;
}

.in-text{
    margin-left: 0;
}

header > h1{
    text-align: center;
}

/*Lightbox*/
.grid-lightbox{
    display:grid;
    grid-template-columns: repeat(4, 20vw);
    grid-gap: 2px;
}

.grid-lightbox > img{
    align-content: center;
    width: 20vw;
}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .4;
    z-index: 100;
    display:none;
}

.lightbox.visible{
    display:block;
}